.projects-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    background-color: rgb(41, 41, 41);
}
.projects-main h5{
    font-family: 'Roboto Slab';
    font-size: 4vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: rgb(255, 255, 255);
}
.projects-item {
    background-color: rgb(68, 68, 68);
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
        "logo title"
        "logo description"
        "logo tools";
}

.projects-item {
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1vw;
    color: white;
    border-radius: 1rem;
    overflow: hidden;
    font-size: 1vw;
    padding: 4vw;
    font-family: 'Kadwa';

}

.projects-item-image {
    grid-area: logo;
    max-width: 8vw;
    height: auto;
    transition: all 0.6s ease;

}

.projects-item-image:hover {
    transform: scale(200%);
    
}

.projects-item-title {
    grid-area: title;
}

.projects-item-description {
    grid-area: description;
}

.project-item-tools {
    grid-area: tools;
    display: flex;
    flex-wrap: wrap;
}

.project-item-tools span {
    margin-right: 1vw;
    font-style: oblique;
    background-color: white;
    color: black;
    transition: all 0.6s ease;
    border-radius: 1rem;
    padding: 4px;
    margin: 2px;
    overflow: hidden;
    cursor: pointer;
}

.project-item-tools span:hover {
    color: white;
    background-color: rgb(66, 66, 226);
}






@media (max-width: 500px) {
    .projects-item {
        gap: 0.5rem;
        font-size: 2vw;
    }

    .projects-item-image:hover {
        transform: scale(500%);
    }
}

@media (max-width: 700px) {
    .experience-item {
        font-size: 1.5vw;
    }

    .projects-item-image:hover {
        transform: scale(300%);
    }
}