.about-main {
    width: 50%;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-img img {
    height: auto;
    max-width: 50%;
    border-radius: 50%;
}