@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Jura&family=Kadwa&family=Kaisei+Opti&family=Kameron&family=Karla&family=Open+Sans&family=Sen&display=swap');

.about-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;

}

.about-main img {
    width: clamp(min(10vw, 20rem), 150px, max(90vw, 50rem));
    max-width: 50%;
    border-radius: 50%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-right: 6px solid rgba(33, 14, 255, 0.97);
    border-radius: 100px;
}

.about-description {
    width: 70%;
    padding: 7%;
    border-radius: 4rem;
    background-color: #c5d4e8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.about-description h5 {
    all: unset;
    font-size: 2.5vw;
    margin-top: 1rem;
    font-family: 'Open sans';
    font-weight: 800;
    margin-bottom: 1rem;
}

.about-description p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: normal;
    color: #000000;
    text-align: center;


}

@media (max-width: 500px) {
    .about-description {
        width: 100%;

    }

    .about-description p {
        font-size: 2.4vw;
    }

    .about-description h5 {
        font-size: 4vw;
    }
}