@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Jura&family=Kadwa&family=Kaisei+Opti&family=Kameron&family=Karla&family=Sen&display=swap');

.navbarstatic-main {
    position: fixed;
    left: 0;
    width: 50%;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;

}

.navbarstatic-main a {
    padding: 1rem;
}


.navbarstatic-main * {
    text-align: center;
}

.navbarstatic-main label {
    margin-top: 1rem;

}

.navbarstatic-social-network {
    width: fit-content;
    flex-wrap: nowrap;
    background: linear-gradient(0deg, rgba(20, 0, 255, 0.17), rgba(20, 0, 255, 0.17)), rgb(172, 165, 248);
    background-blend-mode: normal, hard-light;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 2%;
    margin-top: 2rem;
}

.navbarstatic-social-network i {
    color: black;
}

.navbarstatic-social-network a {
    padding: 5px;
    margin: 5px;
}

.navbarstatic-social-network li {
    all: unset;
}


#navbarstatic-title-name {
    margin-top: 1rem;
    font-family: 'Kadwa';
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: normal;
    color: #000000;
}

#navbarstatic-degree {
    width: 60%;
    font-family: 'Kaisei Opti';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    color: #868686;
}

#navbarstatic-role {
    font-family: 'Kaisei Opti';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: normal;
    color: #7E7E7E;
    margin-bottom: 2rem;
}

.navbarstatic-a {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
    line-height: normal;
    color: #000000;
}

.navbarstatic-main a {
    text-decoration: none;
}

.navbarstatic-main li {
    list-style: none;
}

@media (max-width: 400px) {}

@media (max-width: 400px) {
    .navbarstatic-main label {
        margin-top: 2rem;
    }

    #navbarstatic-degree {
        width: 80%;
    }

    .navbarstatic-social-network {
        margin-top: 4rem;
    }
}

@media (max-width: 560px) {
    .navbarstatic-social-network {
        width: 80%;
    }


    #navbarstatic-title-name {
        margin-top: 3rem;
        font-size: 5vw;

    }

    #navbarstatic-degree {
        width: 60%;
        font-size: 3vw;
    }

    #navbarstatic-role {
        font-size: 3vw;
    }

    .navbarstatic-a {
        font-size: 3vw;
    }
}