@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Jura&family=Kadwa&family=Kaisei+Opti&family=Kameron&family=Karla&family=Lora:ital@0;1&family=Open+Sans&family=Roboto+Slab&family=Sen&display=swap');

.experience-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    width: 90%;
}

.experience-title {
    font-family: 'Roboto Slab';
    font-size: 4vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: rgb(0, 0, 0);
}

.experience-item {
    max-width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*background-color: rgba(71, 0, 93, 1);*/
    border-radius: 1rem 9rem 10rem 10rem;
    overflow: hidden;
    color: white;
    font-size: 1vw;
    padding: 4vw;
    font-family: 'Kadwa';
}

.experience-item-languages {
    display: flex;
    flex-wrap: wrap;
}

.experience-item-date {
    text-align: right;
    font-family: 'Jura';
    font-size: 1.5vw;
}

.experience-item-ocupation {
    text-align: right;
    font-family: 'Kameron';
    font-size: 1vw;
}

.experience-item-title {
    text-align: right;
    font-family: 'Kameron';
}

.experience-item-description {
    font-family: 'Kameron';
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.3vw;
}

.experience-item-languages span {
    margin-right: 1vw;
    font-style: oblique;
    background-color: white;
    color: black;
    transition: all 0.6s ease;
    border-radius: 1rem;
    padding: 4px;
    margin: 2px;
    overflow: hidden;
    cursor: pointer;
}

.experience-item-languages span:hover {
    color: white;
    background-color: rgb(66, 66, 226);
}

@media (max-width: 700px) {
    .experience-item {
        font-size: 1.5vw;
    }
}

@media (max-width: 500px) {
    .experience-main {
        grid-template-columns: 1fr;
    }

    .experience-item {
        font-size: 2.5vw;
        padding: 10vw;
        overflow: hidden;

    }

    .experience-item-description {
        font-size: 3vw;
    }

    .experience-item-date {
        font-size: 3vw;
    }

    .experience-item-ocupation {
        font-size: 2vw;
    }
}