@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Jura&family=Kadwa&family=Kaisei+Opti&family=Kameron&family=Karla&family=Lora:ital@0;1&family=Open+Sans&family=Roboto+Slab&family=Sen&display=swap');

.experience-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.experience-item {
    width: fit-content;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(160, 160, 160);
    /*background-color: rgba(71, 0, 93, 1);*/
    border-radius: 1rem 9rem 10rem 10rem;
    overflow: hidden;
    color: white;
    font-size: 1vw;
    padding: 4vw;
    font-family: 'Kadwa';
}


.experience-item-date {
    text-align: right;
    font-family: 'Jura';
}

.experience-item-ocupation {
    text-align: right;
    font-family: 'Kameron';
}

.experience-item-title {
    text-align: right;
    font-family: 'Kameron';
}

.experience-item-description {
    font-family: 'Kameron';
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.experience-item-languages span {
    margin-right: 1vw;
    font-style: oblique;
}

@media (max-width: 500px) {
    .experience-item {
        font-size: 2.5vw;
        padding: 10vw;
        overflow: hidden;

    }
}